-- Heure de début de surveillance de la température de la chambre d'amis
-- Avant les autres pièces car elle est directement exposée au levant
-->> at=0815
