# timer de la consigne de coucher
# Fermeture effective des volets (5 minutes avant la consigne)

# bidon, sera mis à jour par "MajConsigneCoucher"
at=2200
