# Le bureau est sur le coté nord-ouest et est protégé du soleil par un arbre.
# Du coup, sa période de suivi solaire est donc plus réduite.

at=1400
#immediate
#runifover
#disabled
