-- Timer to launch tasks every 15 secondes
--
-- name of the timer
-- if not set, takes the filename
--->> name=toto
--
-- repeating delay (in seconds)
-- ignored if null
-->> every=15
--
-- This timer is set to an absolute time, 
-- format HHMM
--->> at=2256
--
-- NOTEZ-BIEN : every has precedence on at.
-- If both are present, only every is took in account
--
-- Launch tasks at startup
-->> immediate
--
-- Launch tasks if Majordome is starting after at= time (for the same day)
--->> runifover
--
-- remove some trace
-- This option is useful to avoid logging of very noisy topics
-->> quiet
--
-- disable this timer
--->> disabled
