# Timier to launch tasks every 15 secondes

# name of the timer
# if not set, takes the filename
#name=toto

# This timer is set to an absolute time, 
# format HHMM
#at=2256

# repeating delay (in seconds)
every=15

# Launch tasks at startup
immediate

# Launch tasks if Majordome is starting after at= time (for the same day)
#runifover

# disable this timer
#disabled
